body {
  background-color: pink;
}

h1 {
  color: blue;
  font-size: 3px;
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-family: Arial, Helvetica, sans-serif;
}

#tasks .completed {
  background: #ccc;
  text-decoration: underline;
}
